/*Universal Styles*/
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body {
    text-align: center;
    margin: 0;
    background-color: antiquewhite;
}

/*Colors*/
header,
footer {
    background-color: #2c858c;
}

/*Header*/
header {
    width: 100%;
    margin: 0;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    display: inline-block;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-decoration: underline;
    width: 50%;
    padding: 15px 0px;
    margin: 0;
    text-align: left;
}

header h4 {
    display: inline-block;
    width: 25%;
    text-align: right;
}

/*About Me*/
#about-me {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-evenly;
}

#about-me .am-text {
    width: 50%;
    margin: 0;
    margin-top: 10%;
}

#about-me h2 {
    text-align: left;
    margin: 25px 5px;
}

#about-me span {
    font-style: italic;
    font-size: 0.8rem;
}

#about-me .image-container {
    display: flex;
    width: 35%;
    min-width: 250px;
    height: 480px;
    overflow: hidden;
}

#about-me img {
    border-radius: 15px;
    width: 100%;
    margin: auto;
}

/*Projects*/

.projects {
    min-width: 350px;
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 75px;
}

.projects h2 {
    text-align: left;
    margin: 0px 55px;
}

.projects nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: inline-block;
    background-color: goldenrod;
    height: 100px;
    width: 100px;
    border-radius: 15px;
    margin: 0px 10px;
}

/*Footer*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin: 0 auto;
}

footer p {
    width: 100%;
    margin: 1em auto;
}

footer a,
header a {
    color: white;
}

@media only screen and (max-width: 1380px) {
    header h1 {
        width: 35rem;
        margin: 0 2rem;
    }

    header h4 {
        width: 21.5rem;
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 1000px) {
    #about-me h2 {
        text-align: center;
    }
}

@media only screen and (orientation: portrait) {
    h2 {
        font-size: 2.5rem;
    }
    
    header h1 {
        width: 100%;
        text-align: center;
        font-size: 3.5rem;
    }
    
    header h4 {
        display: none;
    }
    
    #about-me {
        font-size: 1.6rem;
    }

    #about-me span {
        font-size: 1.25rem;
    }

    #about-me .am-text {
        margin-top: 2.5%;
    }

    button {
        display: block;
        height: 150px;
        width: 300px;
        font-size: 1.75rem;
    }

    footer {
        display: flex;
        font-size: 1.75rem;
        align-items: center;
        height: 75px;
    }

    footer p {
        margin: 0;
    }
}